{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
  <div class="grid-container">
    {% for s in students %}
      <div class="card">
        <span></span>
        <div class="content">
            <img src="{% static 'myapp/images/'|add:s.getBelt.strip|add:'.png' %}" alt="belt" width="70" height="70">
          <div class="content">{{ s.getUsername }} </div>
          <div class="content">{{ s.getBuck }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
