{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Rewards - Code Ninjas Bucks Manager{% endblock %}
{% block page_title %}Ninja Bucks Rewards{% endblock %}

{% block content %}
  <div class="rewards-container">
    {% for reward in reward_list %}
      {% if reward.getImage %}
      <div class="reward-slide">
        <span></span>
        <div class="content">
          <div class="reward-image">
            <img src="{% static reward.getImage %}" alt="{{ reward.getName }}" class="reward-img">
          </div>
          <div class="reward-info">
            <div class="reward-name">{{ reward.getName }}</div>
            <div class="reward-price">{{ reward.getPrice }} Ninja Buck{% if reward.getPrice != 1 %}s{% endif %}</div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}