{% extends 'myapp/base.html' %}

{% block content %}
{% if searched %}
<div class="grid-container">
    {% for student in students %}
    <div class="card">
      <span></span>
    <div class="content">
        <img src="{% static './myapp/images/'|add:student.getBelt.strip|add:'.png' %}" alt="belt" width="70" height="70">
      <div class="content">{{ student.getUsername }}</div>
      <div class="content">{{ student.getBuck }}</div>
    </div>
    </div>
    {% endfor %}
</div>
{% else %}
  <h2>You haven't searched for anyone yet...</h2>
{% endif %}
{% endblock %}
